$img-path:                              "/themes/beagle/dist/assets/img" !default;
$fonts-path:                            "/themes/beagle/dist/assets/lib" !default;
$lib-path:                              "/themes/beagle/dist/assets/lib" !default;
$bootstrap-path:                        "/themes/beagle/dist/assets/lib/bootstrap/scss" !default;

$blue:                  #006EE5;
$primary-color-text:    #4285F4;

@import "_default";

