//Text contrast
$company-color-text: red;
$primary-color-text: #5f99f5;
$success-color-text: #37b358;
$warning-color-text: #f6c163;
$danger-color-text: #eb6357;
$dark-color-text: #333333;

.navbar {
    border-top: 2px solid $company-color-text;

    .brand-logo-text {
        height: 59px;
        line-height: 60px;
        padding-left: 16px;
        font-size: 1.4em;
        color: #333;

        &:hover {
            color: $company-color-text;
        }
    }

    .users-search-bar {
        i {
            font-size: 1.6em;
        }
    }

    .dropdown-menu .user-info {
        .user-name {
            font-size: 0.9em !important;
        }
    }
}

.table-hover {
    thead {
        user-select: none;
    }

    tbody {
        tr {
            td.link {
                padding: 0;
                
                &:hover {
                    cursor: pointer;
                }

                a {
                    display: block;
                    padding: 12px 10px;
                    color: inherit;
                    text-decoration: inherit;
                }
            }

            td.actions.edit-user {
                padding-right: 10px;

                &:hover {
                    background-color: #ddd;
                    i {
                        color: $dark-color-text;
                    }
                }
            }
        }
    }
}

.user-timeline {
    &:before {
        background-color: #ddd;
    }
    &:after {
        background-color: #aaa;
    }
    li {
        &.repair:before {
            border-color: $danger-color-text;
        }
        &.repair.latest:before {
            background-color: $danger-color-text;
        }
        &.commision:before {
            border-color: $success-color-text;
        }
        &.commision.latest:before {
            background-color: $success-color-text;
        }
        &.warranty:before {
            border-color: $warning-color-text;
        }
        &.warranty.latest:before {
            background-color: $warning-color-text;
        }
        &.service-repair:before {
            border-color: #AB7C9F;
        }
        &.service-repair.latest:before {
            background-color: #AB7C9F;
        }
    }
}
