//Text contrast
$company-color-text: red;
$primary-color-text: #5f99f5;
$success-color-text: #37b358;
$warning-color-text: #f6c163;
$danger-color-text: #eb6357;
$dark-color-text: #333333;

.navbar {
    border-top: 2px solid $company-color-text;

    .brand-logo-text {
        height: 59px;
        line-height: 60px;
        padding-left: 16px;
        font-size: 1.4em;
        color: #333;

        &:hover {
            color: $company-color-text;
        }
    }

    .users-search-bar {
        i {
            font-size: 1.6em;
        }
    }
}

.table-hover {
    thead {
        user-select: none;
    }

    tbody {
        tr {
            &:hover {
                cursor: pointer;
            }

            td.actions.edit-user {
                padding-right: 10px;

                &:hover {
                    background-color: #ddd;
                    i {
                        color: $dark-color-text;
                    }
                }
            }
        }
    }
}
